body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  display: flex;
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-content: center;
}

.loginInput {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  height: 100px;
  width: 200px;
}

.loginInputs {
  text-align: center;
  border-radius: 5px;
  height: 1.75vh;
}

.login-form {
  position: relative;
  height: 100vh;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.profileContainer {
  align-items: center;
  margin-top: 1.25%;
}

.profileInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileInfo {
  padding-left: 100px;
  padding-top: 33px;
  font-size: 20px;
  font-family: source-code-pro;
  color: white;
}

.navbar {
  padding: 50px;
  color: white;
  height: 5vh;
  width: 5vh;
}

#profileImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profilePosts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.25%;
}

.profilePostImg {
  padding: 5px;
}

.PostContainer {
  color: white;
  display: grid;
  grid-template-rows: auto auto auto auto;
  height: auto;
  box-shadow: 0 -1px 0 #5a5a5a;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.straightupnothin {
  display: none
}

.nav-image {
  height: 5vh;
  width: 5vh;
}

#navbar {
  grid-column: 1/2;
  grid-row: 2/3;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#profile-image-link {
  height: 5vh;
  width: 5vh;
  border-radius: 50px;
}

.islikedimg {
  height: 3vh;
  width: auto;
}

.commentButton {
  height: 3vh;
  width: auto;
}

.searchprofileimg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.logInButton {
  border-radius: 5px;
  height: 1.75vh;
  width: 50%;
}

.postsContainer {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mainFeedProfileImg {
  height: 7vh;
  border-radius: 50%;
}

.postsContainer::-webkit-scrollbar {
  display: none;
}

.profileImageAndUserName {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding-left: 10vw;
}

.mainFeedPostImageContainer {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.likeAndCommentButton {
  grid-row: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 26.3vh;
  gap: 1.75vw;
  padding-top: 1.75vw;
  padding-bottom: 1.75vw;
}

.likesCommentsCaptionAndCommentForm {
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 26.3vh;
}

.mainfeedusername {
  font-size: 20px;
}

.mainFeedPostImage {
  height: auto;
  width: 52vw;
}

.captionUserName {
  font-weight: bold;
}

.captionText {
  display: flex;
  overflow-wrap: anywhere;
  width: 47.4vw;
  flex-direction: row;
}

.captionContainer {
  display: flex;
  gap: 0.5vh;
  padding-top: 0.75vh;
}

.commentsDisplayContainer {
  display: flex;
  gap: 1vh;
  align-items: center;
}

.commentsContainer {
  display: flex;
  gap: 0.25vh;
  padding-top: 3px;
  flex-direction: column;
}

.signUpContainer {
  display: flex;
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-content: center;
  flex-direction: column;
}

.signUpInputs {
  width: 30vw;
}

.signUpButton {
  width: 15vw;
}

.haveAProfileButton {
  width: 15.5vw;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}